body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@media print {
    .no-print {
        display: none !important;
    }
    .print-only {
        display: block !important;
    }
    body {
        background: white;
        color: black;
    }
    .card-print {
        border: 1px solid #ccc;
        box-shadow: none !important;
    }
}